html {
    /* font-size: 62.5%(если не rem, то можно не писать); */
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body {
    color: #000;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

@-ms-viewport {
    width: device-width;
}

::selection {
    background-color: rgba(126, 196, 91, 0.726);
    text-shadow: none;
}

svg:not(:root) {
    overflow: hidden;
}

a {
    color: #039be5;
    -webkit-text-decoration-skip: objects;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

iframe {
    border: none;
}


button {
    border: none;
    background-color: transparent;
    color: inherit;
    font: inherit;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.section-header_white {
    color: #ffffff;
}

.section-header {
    text-align: center;
}

.blog-form_m-b {
    margin-bottom: 30px;
}

.section_p-t-b {
    padding: 25px 0;
}

.link {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    line-height: 1.4;
}

.section-header_m-b {
    margin-bottom: 10px;
}

.right-recipes-block_m-b {
    margin-bottom: 35px;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    /* display: none; */
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(-4000px);
    z-index: 4;
}

.overlay-show {
    opacity: 1;
    transform: translateY(0px);
}


/* Begin wraper adn form section */

.wrap,
.ingredients-block {
    position: relative;
}

.wrap-bg {
    background: url(/src/img/bg-1.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.blog-form {
    text-align: center;
    padding: 2em 2em;
    background: rgba(0, 0, 0, 0.78);
}

.blog-form__food-name,
.blog-form__food-method,
.ingredients-block__input,
.ingredients-block__measure {
    width: 100%;
    color: #a0a0a0;
    letter-spacing: 1.5px;
    padding: 10px 10px;
    outline: none;
    background: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.27);
    resize: none;
}


.arrows_d-n::-webkit-inner-spin-button {
    display: none;
}

.ingredients-block__measure {
    color: #fff;
    background: rgba(0, 0, 0, .78);
}

.blog-form__food-method,
.ingredients-block__input,
.ingredients-block__measure {
    border: 1px solid rgba(255, 255, 255, 0.27);
}

.ingredients-block__measure {
    width: 50%;
}

.ingredients-block_m-b {
    margin-bottom: 10px;
}


.ingredients-block_m-b:last-child {
    margin-bottom: 30px;
}

.blog-form__btn {
    color: #ffffff;
    font-size: 18px;
    text-transform: capitalize;
    background: rgba(68, 68, 68, .8);
    padding: 8px 15px;
    border: none;
    border: 2px solid rgba(68, 68, 68, .8);
    margin-top: 15px;
    outline: none;
    letter-spacing: 1px;
    transition: .5s all;
    cursor: pointer;
    margin: 0 auto;
}

.blog-form__btn:hover {
    background: rgba(68, 68, 68, 0);
}

.ingredients-block {
    display: flex;
}

.ingredients-block_w-20-tac {
    width: 20%;
    text-align: center;
}


.ingredients-block__sandwich-btn {
    position: absolute;
    top: 11px;
    width: 32px;
    height: 18px;
    cursor: pointer;
}

.ingredients-block__sandwich-btn:before,
.ingredients-block__sandwich-btn:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 17px;
    width: 2px;
    background-color: #fff;
}

.ingredients-block__sandwich-btn:before {
    transform: rotate(45deg);
}

.ingredients-block__sandwich-btn:after {
    transform: rotate(-45deg);
}


/* End wraper adn form section */

/* Begin recipes section */

.right-recipes-block,
.section-header {
    font-family: 'Philosopher', sans-serif;
}

.right-recipes-block__img {
    display: block;
    width: 100%;
    height: auto;
    margin-right: 17px;
}

.right-recipes-block {
    background-color: #ffffff;
    padding: 15px;
}

.right-recipes-block_display-n {
    display: none;
}


.right-recipes-block__btn {
    color: #039be5;
}
/* End recipes section */


/* Мобильное меню */

.full-recipe-block {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #fff;
    height: 600px;
    width: 800px;
    transition: all 0.3s ease;
    z-index: 5;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    border-radius: 5px;
}

.hidden {
    transform: translate(-50%, -5000px);
}


.full-recipe-block_close-btn {
    position: absolute;
    top: 57px;
    right: 36px;
    width: 50px;
    height: 50px;
    z-index: 5;
    transform: translateX(0px);
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 6;
}


.full-recipe-block__sandwich-btn {
    position: absolute;
    bottom: 25px;
    left: 27px;
    width: 32px;
    height: 32px;
}

.full-recipe-block__sandwich-btn:before,
.full-recipe-block__sandwich-btn:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #222;
}

.full-recipe-block__sandwich-btn:before {
    transform: rotate(45deg);
}

.full-recipe-block__sandwich-btn:after {
    transform: rotate(-45deg);
}



/* Конец мобильного меню */

/* Выносной блок */

.ingredients-all-block {
    position: relative;
}


.method-block_m-b {
    margin-bottom: 30px;
}

.recipe-block_m-t {
    margin-top: 50px;
}

/* конец выносного блока */